[Desktop Entry]
Name=ReShade Linux
Comment=Install ReShade for Wine and Proton games on Linux
GenericName=ReShade Installer
Exec=reshade-linux-gui.sh
Icon=reshade-linux
Type=Application
Categories=Game;Utility;
Terminal=false
StartupNotify=true
X-AppImage-Name=ReShade Linux
X-AppImage-Version=1.3.1